.masthead {
    font-family: font-family: 'Arvo', serif;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35 rem;
    padding: 15 rem;
    background: url("Assets/img/park-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arvo', serif;
}

.park-image {
    width: 200px;
    height: 150px;
}

h1 {
    font-family: "Louize Display", Garamond, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 60px;
    text-transform: none;
    color: #373F3D;
    }

#cana {
        font-family: "GT Pressura Mono", "Roboto Mono", monospace;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 28px;
        text-transform: none;
        color: #373F3D;
}