.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35 rem;
    padding: 15 rem;
    background: url("Assets/img/park-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.park-image {
    width: 200px;
    height: 150px;
}